{% extends "base.html" %}
{% block title %}
    Kayıt Ol
{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-6 bg-warning">
                <h1 class="text-center">KAYIT FORMU</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn-block btn btn-success">Kayıt Ol</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}